/* Carrusel solo visible en pantallas grandes */
.carrusel-container {
    display: none; /* Ocultamos el carrusel por defecto */
  }
  
  /* Mostrar carrusel solo en pantallas grandes (PC) */
  @media (min-width: 768px) {
    .carrusel-container {
      display: flex; 
      justify-content: center;
      align-items: center;
      width: 100%;
      overflow: hidden;
      padding: 10px 0;
      background-color: #f0f0f0; /* Color de fondo */
      margin-bottom: 20px;
    }
  
    .carrusel {
      display: flex;
      flex-direction: row;
      width: max-content; 
      animation: carrusel-animation 20s linear infinite;
    }
  
    .carrusel-item {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 200px; /* Ancho máximo del logo */
      margin: 0 10px;
    }
  
    .carrusel-item img {
      width: 100%;
      max-width: 200px;
      height: auto;
      transition: transform 0.3s ease-in-out;
    }
  
    .carrusel-item img:hover {
      transform: scale(1.1);
    }
  
    @keyframes carrusel-animation {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-100%);
      }
    }
  }
  