.formulario-inscripcion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Ajusta el ancho según tus necesidades */
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8; /* Fondo ligeramente más claro */
}

.formulario-inscripcion h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #007bff; /* Azul del título */
  width: 100%;
  text-align: center;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px 5px 0 0; /* Bordes redondeados solo arriba */
}

.salario-minimo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.salario-minimo h3 {
  margin: 0;
  font-size: 18px;
}

.editar-salario-icono {
  cursor: pointer;
  margin-left: 10px;
  color: #007bff; /* Color azul para el icono */
}

.editar-salario {
  display: flex;
  align-items: center;
}

.editar-salario-input {
  margin-right: 10px;
}

.form-group {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
}

.form-group label {
  width: 30%; /* Ancho fijo para las etiquetas */
  text-align: right;
  margin-right: 15px;
  font-weight: bold;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="tel"],
.form-group input[type="number"],
.form-group select {
  width: 70%; /* Ancho para los campos de entrada */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group.half-width {
  width: 48%; /* Para los campos que comparten fila */
  margin-right: 2%;
}

.half-width:last-child{
    margin-right: 0;
}

.form-group input[type="file"] {
  width: auto; /* Ancho automático para el input de archivo */
}
.form-group input[type="file"]::file-selector-button{
  padding: 8px 15px;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

.form-group .file-input-container{
  display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilos específicos para el campo de dirección */
.form-group #direccion {
  width: 70%;
}

/* Estilos para los botones de archivo */
.form-group input[type="file"] {
    display: none;
}

.form-group label.file-label{
    background-color: #e9ecef;
    color: #343a40;
    padding: 8px 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block; /* Para que se ajuste al texto */
    font-size: 14px;
}

/* Estilos para el contenedor de los inputs de archivo */
.form-group .file-input-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilos para los inputs de texto dentro del file-input-container */
.form-group .file-input-container input[type="text"] {
    flex-grow: 1; /* Para que ocupe el espacio disponible */
}


/* Estilos para el botón de agregar archivo */
.form-group .add-file-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

/* Estilos para el botón de registrar cliente */
.formulario-inscripcion button[type="submit"] {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: auto; /* Ancho automático */
  align-self: center;
}

.form-group .archivos-input-container{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.form-group .archivo-item{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}